* {
  color: rgb(255, 255, 255);
}
h1 {
  font-size: 48px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 20px;
  font-size: 28px;
}

body {
  background-color: rgb(49, 44, 44);
}
